header{
    height: 105px;

    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .logo{
            height: 100px;
            margin-right: 30px;
        }

        /* Liens du menu */
        .menu{
            display: flex;
            flex-direction: row;
            justify-content: center;
            list-style-type: none;
            
            .link{
                text-decoration: none;
                color: #f1f8fc;
                border: 1px solid #0074c7;
                background-color: #0074c7;
                padding: 2px 25px;
                border-radius: 25px;
            }

            .link:hover{
                background-color: #00497c;
            }
        }

        form{
            display: flex;
            align-items: center;
            margin-left: 60px;
            
       
            .btn{
                background-color: #0074c7;
                color: #f1f8fc;
            }

            .btn:hover{
                background-color: #00497c;
            }
        }
    }
}