<header>
    <nav class="navbar">
        <!-- Logo -->
        <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
            <img class="logo" src="assets/images/logo.png" alt="Logo">
        </a>

        <!-- Liens du menu -->
        <ul class="menu" *ngFor="let category of categories$ | async">
            <li>
                <a class="link" (click)="goToCategory(category)">{{ category }}</a>
            </li>
        </ul>

        <!-- Barre de recherche -->
        <form class="form-inline">
            <input required class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Rechercher">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
        </form>
    </nav>
</header>