<div class="header">
  <nav class="navbar">
    <!-- Logo -->
    <a routerLink="/">
      <img class="logo" src="assets/images/logo.png" alt="Logo" />
    </a>

    <!-- Liens du menu -->
    <ul class="menu" *ngFor="let category of categories$ | async">
      <li>
        <a class="link" (click)="goToCategory(category)">{{ category }}</a>
      </li>
    </ul>

    <!-- Barre de recherche -->
    <form class="form-inline">
      <div class="search-container">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Rechercher"
          aria-label="Rechercher"
          required="required"
          [(ngModel)]="search"
          (input)="filterResults()"
          name="search"
        />
        <button class="btn" type="submit">
          <fa-icon [icon]="faMagnifyingGlass" class="iconbtn"></fa-icon>
        </button>

        <div class="search-results" *ngIf="searchResults.length > 0">
          <ul class="ul-results">
            <li *ngFor="let result of searchResults" class="list-results">
              <!-- Lien vers la page de fiche de l'artisan -->
              <a class="link-results" [routerLink]="['/fiche', result.id]">
                {{ result.name }} - {{ result.specialty }} - {{ result.location }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </form>
  </nav>
</div>