<footer>
    <!-- Coordonnées -->
    <div class="contact-details">
        <address>
            101 cours Charlemagne <br>
            CS 20033 <br>
            69269 LYON CEDEX 02 <br>
            France <br>
        </address>
        <a class="tel" href="tel:33426734000">+33 (0)4 26 73 40 00</a>
    </div>
    
    <!-- Liens du footer -->
    <ul class="footer_links">
        <li><a class="f_link" routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">Mentions légales</a></li>
        <li><a class="f_link" routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">Données personnelles</a></li>
        <li><a class="f_link" routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">Accessibilité</a></li>
        <li><a class="f_link" routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">Cookies</a></li>
    </ul>
</footer>
