<div class="list">
    <h1>Liste des artisans</h1>
    <div class="card">
        <a class="link-card" routerLink="/sheet" routerLinkActive="active" ariaCurrentWhenActive="page">
            <div class="card-body" *ngFor="let artisan of artisans">
                <h2 class="card-title">{{ artisan.name }}</h2>
                <p class="card-text">{{ artisan.specialty }}</p>
                <p class="card-text">{{ artisan.location }}</p>      
                <div class="stars">
                    <p class="note">{{ artisan.note }}</p>
                    <div *ngFor="let star of starsArray(artisan.stars)">
                        <fa-icon [icon]="faStar" *ngIf="star !== 'half'"></fa-icon>
                        <fa-icon [icon]="faStarHalfStroke" *ngIf="star === 'half'"></fa-icon>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>