// Police titres
@font-face {
  font-family: "Graphik-Semibold-Trial";
  src: url(.//assets/fonts/Graphik-Semibold-Trial.woff) format("woff");
  src: url(.//assets/fonts/Graphik-Semibold-Trial.otf) format("opentype");
}

// Police textes
@font-face {
  font-family: "Graphik-Regular-Trial";
  src: url(.//assets/fonts/Graphik-Regular-Trial.woff) format("woff");
  src: url(.//assets/fonts/Graphik-Regular-Trial.otf) format("opentype");
}

* {
  color: #384050;
  font-family: Graphik-Regular-Trial;
}

h1,
h2 {
  font-family: Graphik-Semibold-Trial;
}

h1 {
  color: #00497c;
  margin-left: 25px;
  font-size: x-large;
  margin-bottom: 30px;
}

h2 {
  color: #0074c7;
  font-size: large;
}

hr {
  margin-left: 25px;
}

a {
  text-decoration: none;
}
